<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ma Super TODO</title>
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
    </head>
    <body data-page="index">
        
        <%- include("fragments/header.ejs"); %>

        <main>
            <% if(!session || !session.user){ %>
                <h1>Hello World</h1>
            <% } else { %>
                <div class="wrapper">
                    <h1>Hello <%= session.user.firstName %></h1>
                    
                    <% if(tasks.length > 0){ %>
                    <ul>
                        <% tasks.forEach((task) => { %>
                            <li><%= task.value %> 
                                <% if(task.check){ %>
                                    <a href="/task/delete/<%= task._id %>">delete</a>
                                <% } else { %>
                                    <a href="/task/check/<%= task._id %>">check</a>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                    <% } %>

                    <form action="/task" method="POST">
                        <input type="text" name="value"><button>Add</button>
                    </form>
                </div>

            <% } %>
        </main>

    </body>
</html>